
@media screen and (max-width: 980px) {
    .logo-area {
        width: 100%;
        float: none;
        text-align: center;
    }
    .login-area {
        width: 100%;
        overflow: hidden;
        float: none;
    }
    .Fuck {
        width: 80%;
        margin: 20px auto;
        text-align: center;
    }
    .login-area form {
        float: none;

    }
    .leftside {
        width: 100%;
        float: none;
    }
    .rightside {
        width: 100%;
        float: none;
    }
    form {
        box-sizing: border-box;
        overflow: hidden;
    }
    .me input{
        box-sizing: border-box;
    }
    .fullname {
        width: 100%;
    }
    .me input {
        width: 100%;
    }
    .firstname {
        width: 45%;
        float: left;
        margin-right: 5%;
    }
    .lastname {
        width: 45%;
        float: right;
        padding-right: 12px;
        
    }
}


@media screen and (max-width: 768px) {
    .login-area .email, 
    .login-area .password, 
    .login-area .login {
    float: none;
    margin: 0;
}
    #Email, #Password {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px;
}   

    .login-area {
        width: 100%;
    }



}

@media screen and (max-width: 480px) {
    .container {
        width: 90%;
    }

}


